@{
    ViewData["Title"] = "404 Error";
}

<div class="index-intro-screens">
  <div class="container" style="border: none;">
    <img src="/images/404.png" class="d-block img-fluid mx-auto">
  </div>
</div>

<div class="" style="padding-top: 30px;">
  <section class="container">
    <div class="row text-center">
      <div class="col-12 fadeInScaleDown">
        <h1 class="display-1">404 Error!</h1>
        <p class="mt-0 lead">
          The page you are looking for does not exits, use the buttons below to find you way back to the site!
        </p>
      </div>
    </div>
  </section>
</div>

<div class="index-intro-cta mt-4 mb-5 pb-5">
  <a class="btn-outline mr-md-4 mb-3 d-inline-block" href="~/features">
    <i class="ion-earth"></i> Explore Features
  </a>
  <a href="~/sign-up" target="_blank" class="btn-shadow btn-shadow-lg btn-shadow-primary">
    Try for Free <i class="ion-chevron-right"></i>
  </a>
</div>

@section styles
{
  <style>
    nav {display:none;}
  </style>
}