

<div class="index-features-header">
  <section>
    <h1 class="stripey">
      Organize your income and expenses the easy way
    </h1>
    <p class="stripey">
      StoreApp gives you detailed overview of your store to maximize profit
    </p>
    <div class="cta">
      <a href="~/sign-up" class="btn-shadow btn-shadow-primary">
        Sign Up For Free
      </a>
    </div>
  </section>
</div>