@{
    ViewBag.Features = "active";
    ViewData["Title"] = "About";
}

<div class="index-features-header">
  <section>
    <h1 class="stripey">
      Improve repeat sales, earn more.
    </h1>
    <p class="stripey">
      Build your customer database, grow/retain business new/returning customers and increase
      shopper spend with a custom loyalty program.
    </p>
    <div class="cta">
      <a href="~/sign-up" class="btn-shadow btn-shadow-primary">
        Sign Up For Free
      </a>
    </div>
  </section>
</div>

<div class="spacial-app-store mt-5">
  <section class="container">
    <div class="row">
      <div class="col-lg-7">
        <!-- <span>Introducing the best structure</span> -->
        <h1>
          Build great customer relationships.
        </h1>
        <p>
          Every business needs customers to survive and the more important thing is to keep them
          coming back. StoreApp is packed with tools that helps you improve relationships with your
          customers, assist in customer retention and drive sales growth.
        </p>
        <p>
          With the integrated loyalty program, you can provide customers with branded loyalty cards,
          allowing them to gather points from their purchases, to encourage repeat business and drive
          brand loyalty and awareness.
        </p>
        <p>
          You can also set credit limits for credit customers - high volume customers with whom you
          have established a business.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="~/images/misc/storeapp-growth.png" class="" style="width: 100%;">
      </div>
    </div>
  </section>
</div>

<div class="index-dark-cta" style="background: #041f48;padding: 70px 0;">
    <div class="container">
        <h4>
          You can analyse customers' sales history to improve business relationships with customers,
          specifically focusing on customer retention and ultimately driving sales growth.
        </h4>
    </div>
</div>

<div class="index-features customFadeInUp mt-0" data-scroll="">
  <div class="container">
    <header>
      <h3>Increase repeat business with customer loyalty program.</h3>
      <p>
        Generally, it costs about 5-25 times more to acquire a new customer than it does to sell
        to an existing one. Treat your customer like a star and get them onboard your loyalty program
        to encourage them to keep coming back to buy more items from you.
      </p>
    </header>
    <section class="features">
      <div class="row">
        <div class="col-md-6 feature">
          <img src="~/images/icons/features-icon-ok.png" class="icon">
          <section>
            <h4>
              You decide how it runs
            </h4>
            <p>
              With special loyalty setup & features, you can decide how the program runs - the
              threshold, point value, coupon value, days to redeem it, and more..
            </p>
          </section>
        </div>
        <div class="col-md-6 feature">
          <img src="~/images/icons/features-icon-canvas.png" class="icon">
          <section>
            <h4>
              Build your database on the fly
            </h4>
            <p>
              Build your customer database quickly on the fly by saving customer information at
              the point of sale during checkout.
            </p>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 feature">
          <img src="~/images/icons/features-icon-world.png" class="icon">
          <section>
            <h4>
              Central customer database
            </h4>
            <p>
              Create a central customers' database that allows you effectively manage one customers
              list across all your outlets.
            </p>
          </section>
        </div>
        <div class="col-md-6 feature">
          <img src="~/images/icons/features-icon-compass.png" class="icon">
          <section>
            <h4>
              Know your best customers
            </h4>
            <p>
              Analyse customer history to determine your most valued customer. Use customer ranking
              feature to discover your top ranking customers.
            </p>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="spacial-features pb-5">
  <section class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <h2>A better relationship with Credit</h2>
          <p>
            Improve credit sales &amp; build partnerships with Companies and other businesses using
            StoreApp. It allows you to create credit customers i.e customers that are allowed to
            purchase items on credit to a certain limit defined by you. These customers’ account
            becomes automatically inactive when these limits are reached so you can keep them in
            check. There are two type of limits:
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/features-icon-ok.png" class="icon">
          <h3>
            Credit amount limit
          </h3>
          <p>
            When credit amount limit is set, customer cannot buy more than the amount set on credit.
            This provides a control on the amount of credit available to the customer.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/features-icon-ok.png" class="icon">
          <h3>
            Credit days limit
          </h3>
          <p>
            This is a form of validity period for the credit customer. The customer is expected to
            continue to buy items within the number of days specified.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<partial name="_TryNowPartial" />