@{
    ViewBag.Features = "active";
    ViewData["Title"] = "About";
}

<div class="index-features-header">
  <section>
    <h1 class="stripey">
      Point of sale that is beautiful, flexible, and powerful.
    </h1>
    <p class="stripey">
      Create memorable customer experiences and seamless sales in-store, online or on-the-go.
    </p>
    <div class="cta">
      <a href="~/sign-up" class="btn-shadow btn-shadow-primary">
        Try For Free
      </a>
    </div>
  </section>
</div>

<div class="index-app-devices mb-5" style="margin-top: 100px;">
  <div class="container">
    <img src="~/images/devices/moc.png" class="img-fluid d-block mx-auto">

    <div class="cta mt-4">
      <h3>
        Start engaging with your customers and earn more
      </h3>
      <p>
        StoreApp is an intuitive point of sale system that makes it simple to sell to your customers,
        and keep them coming back to your store. It is so easy to use you can get your staff to start
        selling in no time. StoreApp connects with the most popular point of sale equipment and hardware
        - printers, barcode scanners etc., and tracks all forms of payment.
      </p>
    </div>
    <hr class="mt-5"/>
  </div>
</div>

<div class="spacial-app-store mt-5">
  <section class="container">
    <div class="row">
      <div class="col-lg-7">
        <span>Introducing StoreApp Ecommerce Solution</span>
        <h1>
          Sell to anyone, anywhere, anytime.
        </h1>
        <p>
          Here's presenting StoreApp E-commerce Solution for both retail and wholesale products.
          The solution presents your products to potential customers anytime from anywhere in the
          world, there are no limits as you actually determine your reach. Expand beyond your walls,
          start selling online with our ecommerce shopping cart system.
          <a href="~/features/ecommerce">Learn more about this</a>
        </p>
        @*<a href="#" class="cta">
          <img src="~/images/buttons/btn-appstore-outline.png">
        </a>*@
      </div>
      <div class="col-lg-5">
        <img src="~/images/devices/devices-4.png" class="" style="width: 100%;">
      </div>
    </div>
    <hr class="mt-5"/>
  </section>
</div>

<div class="spacial-features mb-5">
  <section class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <h2>A sales inteface with powerful, flexible features.</h2>
          <p>
            Create custom buttons for your most popular products and speed up checkouts. Easily save as templates for use in any of your stores.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-devices.png">
          <h3>
            Quick search &amp; Barcode
          </h3>
          <p>
            Quickly add products to the sale by typing in keywords or using a barcode scanner.
            Easily find customers by name or phone number.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-settings.png">
          <h3>
            Presale and Prescription
          </h3>
          <p>
            You can isolate your cash point from the sales point with the presale interface. Have
            your staff who's more knoledgeable about your products do the selection, while the
            cashier just get the cash.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-devices.png">
          <h3>
            Discounts &amp; Coupons
          </h3>
          <p>
            Increase revenue with discounts, coupons and our integrated loyalty program. Discounts
            come with authorization, so you can sure it doesn't get into the hands of unauthorized
            staff.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-settings.png">
          <h3>
            Layaways and on-account sales
          </h3>
          <p>
            If your customer is still not ready to complete a sale, to avoid them holding up the
            line you can temporarily park their sale and quickly retrieve it when they are ready
            to complete their sales.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-devices.png">
          <h3>
            Split payments
          </h3>
          <p>
            Capture every details of any form of payments. Your customers choose how they pay and can split their payment to different payment types.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-settings.png">
          <h3>
            Refunds and returns
          </h3>
          <p>
            Refunds take 3 processes to complete, the processing, authorization and payment. Your customers can get an exchange instead of getting paid in cash.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div class="spacial-cta-download">
  <h2>
    Sell to anyone, anywhere, anytime.
  </h2>
  <p style="width:75%;">
    You spent a lot of time developing and growing your brand, and your online store should reflect that. Our mobile-friendly, responsive themes will have you selling online in no time. Simply pick from one of our beautiful and highly customizable designs and you’re away.
    Keep your finger on the pulse of your business by bringing all your sales, customer and inventory information together in one system. Combine your point of sale, ecommerce, and insights under one roof and save time and money.
  </p>
  <a href="#">
    Learn more...
  </a>
</div> -->

<partial name="_TryNowPartial" />
