@{
    ViewBag.Features = "active";
    ViewData["Title"] = "About";
}

<div class="index-features-header">
  <section>
    <h1 class="stripey">
      Maximum Control of your Inventory
    </h1>
    <p class="stripey">
      Make your products work for you by improving efficiency, gaining visibility into
      your stock and automating your hardest jobs.
    </p>
    <div class="cta">
      <a href="~/sign-up" class="btn-shadow btn-shadow-primary">
        Try For Free
      </a>
    </div>
  </section>
</div>

<div class="index-intro" style="margin-top:80px;">
  <div class="container">
    <header>
      <h3>A very structured inventory management system?</h3>
      <p>
        Inventory control is at the core of our system. With our multi-store multi-outlet
        approach, you can conveniently manage multiple stores within an outlet as well as
        multiple outlets within a location of your choice. StoreApp features two store types -
        the warehouse and shop. Warehouse primarily for storing products and the shop as
        where the products are sold.
      </p>
      <p>
        <img src="~/images/devices/devices-7.png" style="width:100%;"/>
      </p>
    </header>
    <section class="row">
      <div class="col-md-6">
        <h4>Warehouse for storage</h4>
        <p>
          Your warehouse is for the sole purpose of storing your items that are not currently
          on the shelf. We have made it the primary location of new purchases until they are
          moved to the shop.
        </p>
      </div>
      <div class="col-md-6">
        <h4>Sell from your shop</h4>
        <p>
          You can sell from the shop as it defines what's on your shelve at the moment. Your
          items also are returned to the shop when they are refunded.
        </p>
      </div>
    </section>
  </div>
  <hr class="mt-5"/>
</div>


<div class="index-intro-features">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="ion-ios-infinite-outline mb-3"></i>
        <h5>
          Stock adjustments
        </h5>
        <p>
          You can sell from the shop, the shop defines what's on your shelve at the moment. Your
          items also are returned to the shop when they are refunded.
        </p>
      </div>
      <div class="col-md-4">
        <i class="icon-tools-2 mb-4"></i>
        <h5 class="mt-3">
          Autofilled orders
        </h5>
        <p>
          StoreApp monitors your stocks real-time so it becomes easy to automatically generate
          orders to your supplier whenever an items drops below your preset reorder level.
        </p>
      </div>
      <div class="col-md-4">
        <i class="ion-ios-book-outline mb-2"></i>
        <h5>
          Supplier returns
        </h5>
        <p>
          Whenever you receive an item that is damaged, faulty or expired from a supplier,
          you can easily record and return the item to the supplier without affecting your
          inventory order/records.
        </p>
      </div>
      <div class="col-md-4">
        <i class="ion-code-working mb-3"></i>
        <h5>
          Inventory counts
        </h5>
        <p>
          Whenever you receive an item that is damaged, faulty or expired from a supplier,
          you can easily recored and return an item to the supplier without affecting your
          inventory order.
        </p>
      </div>
      <div class="col-md-4">
        <i class="ion-monitor mb-3"></i>
        <h5>
          Stock transfers
        </h5>
        <p>
          Easily transfer stocks between multiple stores and/or multiple outlets within your
          business. Your stock levels are automatically adjusted for you when you perform
          stock transfers.
        </p>
      </div>
      <div class="col-md-4">
        <i class="ion-ios-settings mb-3"></i>
        <h5>
          Inventory control
        </h5>
        <p>
          Always have your most active products in stock. Make informed decisions about your
          purchasing with low stock alerts, inventory level, expiry alerts and sales trend.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="index-features-files clearfix">
  <div class="container2">
    <div class="container1">
      <div class="col col-left">

        <div class="features">
          <div class="feature clearfix">
            <div class="image">
              <img src="~/images/icons/features-icon-earth.png">
            </div>
            <div class="info">
              <strong>
                A global stock view
              </strong>
              <p>
                View your stocks from anywhere across multiple locations and at any time on
                any device.
              </p>
            </div>
          </div>
          <div class="feature clearfix">
            <div class="image">
              <img src="~/images/icons/features-icon-upload.png">
            </div>
            <div class="info">
              <strong>
                Post stocks from anywhere
              </strong>
              <p>
                Post stocks to any of your outlets at your convenience anytime from anywhere
                and any device.
              </p>
            </div>
          </div>
          <div class="feature clearfix">
            <div class="image">
              <img src="~/images/icons/features-icon-repeat.png">
            </div>
            <div class="info">
              <strong>
                Monitor your sales
              </strong>
              <p>
                Gain access to stock alerts and sales trends from anywhere. Also, keep an eye on
                the most popular products.
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="col col-right">
        <div class="info">
          <h3>Sync stocks across outlets</h3>
          <h4>
            Online tool that allows you to control your inventory remotely &amp; effectively.
          </h4>
          <p>
            You can take your inventory control with you anywhere and access it at any time using
            an online inventory management tool that brings all of your stocks to one view.
          </p>
          <p>
            It also allows you to carry out common inventory functions that makes sure things
            fit your convenience and lifestyle.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<partial name="_TryNowPartial" />