@{
    ViewBag.Features = "active";
    ViewData["Title"] = "About";
}

<div class="index-features-header">
  <section>
    <h1 class="stripey">
      Point of sale that is beautiful, flexible, and powerful.
    </h1>
    <p class="stripey">
      Create memorable customer experiences and seamless sales in-store, online or on-the-go.
    </p>
    <div class="cta">
      <a href="~/sign-up" class="btn-shadow btn-shadow-primary">
        Try For Free
      </a>
    </div>
  </section>
</div>

<div class="index-app-devices mb-5" style="margin-top: 100px;">
  <div class="container">
    <img src="~/images/devices/moc.png" class="img-fluid d-block mx-auto">

    <div class="cta mt-4">
      <h3>
        Engage better with your customers; more customers, more earnings
      </h3>
      <p>
        StoreApp has an intuitive point of sale system that makes it simple to sell to your customers
        and retain their loyalty to your store. StoreApp connects with the most popular point of sale
        equipment and hardware - printers, barcode scanners etc., and tracks all forms of payment.
        It is easy to use and you can get your staff to start using it and selling faster in no time.
      </p>
    </div>
    <hr class="mt-5"/>
  </div>
</div>

<div class="spacial-app-store mt-5">
  <section class="container">
    <div class="row">
      <div class="col-lg-7">
        <span>Introducing StoreApp Ecommerce Solution</span>
        <h1>
          Sell to anyone, anywhere, anytime.
        </h1>
        <p>
          Expand your customer base and product reach by selling online with our ecommerce shopping cart
          system! Here's presenting StoreApp E-commerce Solution for both retail and wholesale products;
          this solution presents your products to potential customers anytime from anywhere in the world.
          You can actually control this product reach and there are no limits. This allows you align and
          pace your business expansion plan with your product reach.
          <a href="~/features/ecommerce">Learn more about this</a>
        </p>
        @*<a href="#" class="cta">
          <img src="~/images/buttons/btn-appstore-outline.png">
        </a>*@
      </div>
      <div class="col-lg-5">
        <img src="~/images/devices/devices-4.png" class="" style="width: 100%;">
      </div>
    </div>
    <hr class="mt-5"/>
  </section>
</div>

<div class="spacial-features mb-5">
  <section class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <h2>A sales interface with flexible features.</h2>
          <p>
            Create custom-made buttons for your most popular products and speed up checkouts. Easily save
            these button designs as templates for future use in any of your stores.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-devices.png">
          <h3>
            Quick search &amp; Barcode
          </h3>
          <p>
            Quickly add products to the sale by typing in keywords or using a barcode scanner.
            Easily find customers by name or phone number.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-settings.png">
          <h3>
            Presale and Prescription
          </h3>
          <p>
            You can isolate your cash point from the sales point with the presale interface. Have
            your staff who is more knowledgeable of your products do the selection, while the
            cashier gets the cash. This may speed up the time you spend attending to your customers
            and improves good customer experience in your store.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-devices.png">
          <h3>
            Discounts &amp; Coupons
          </h3>
          <p>
            Increase revenue with discounts, coupons and our integrated loyalty program. Discounts
            come with authorization, so you can sure it doesn't get into the hands of unauthorized staff.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-settings.png">
          <h3>
            Layaways and on-account sales
          </h3>
          <p>
            If for any reason, a customer is not ready to complete a sale, it is possible with StoreApp to
            temporarily park their sale while you attend to other customers to avoid them holding up the line.
            Their sales can then be quickly retrieved when they are ready to complete it.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-devices.png">
          <h3>
            Split payments
          </h3>
          <p>
            Your customers choose how they pay and can split their payment to different payment types. For easy
            account reconciliation for you or your business manager, every detail of different forms of payment
            made to your business can be captured.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <img src="~/images/icons/spacial-settings.png">
          <h3>
            Refunds and returns
          </h3>
          <p>
            To make Refunds on this platform takes 3 processes to complete - the processing, authorization and
            payment. Your customers can get an exchange instead of getting paid in cash and everything can be
            documented and easily traced during your account reconciliation.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div class="spacial-cta-download">
  <h2>
    Sell to anyone, anywhere, anytime.
  </h2>
  <p style="width:75%;">
    You spent a lot of time developing and growing your brand, and your online store should reflect that. Our mobile-friendly, responsive themes will have you selling online in no time. Simply pick from one of our beautiful and highly customizable designs and you’re away.
    Keep your finger on the pulse of your business by bringing all your sales, customer and inventory information together in one system. Combine your point of sale, ecommerce, and insights under one roof and save time and money.
  </p>
  <a href="#">
    Learn more...
  </a>
</div> -->

<partial name="_TryNowPartial" />

