@{
    ViewBag.Features = "active";
    ViewData["Title"] = "About";
}

<div class="index-features-header">
  <section>
    <h1 class="stripey">
      Gain more with flexible pricing options.
    </h1>
    <p class="stripey">
      However way you wish to grow your business, we've got you covered!
    </p>
     <div class="cta">
      <a href="~/sign-up" class="btn-shadow btn-shadow-primary">
        Sign Up For Free
      </a>
    </div> 
  </section>
</div>

<div class="index-features-nav d-none d-md-block">
  <ul class="nav features justify-content-center">
    <li>
      <a href="#overview" class="scroll nav-link active featureFadeInDown">
        Princing Overview
      </a>
    </li>
    <li>
      <a href="#price-level" class="scroll nav-link featureFadeInDown">
        Price Levels / Bulk Pricing
      </a>
    </li>
    <li>
      <a href="#profile" class="scroll nav-link featureFadeInDown">
        Price Profiles
      </a>
    </li>
    <li>
      <a href="#wholesale" class="scroll nav-link featureFadeInDown">
        Wholesale Pricing
      </a>
    </li>
  </ul>
</div>

<div id="overview" class="index-features-friends">
  <section class="clearfix mb-5" style="min-height: 400px;">
    <div class="row">
      <div class="col-md-6">
        <h3>Unlimited Pricing Options</h3>
        <h4>
          Good pricing keeps you ahead of your competitors and gets your customers coming back.
        </h4>
        <p>
          We understand that and so we have provided several price models to allow you really
          stay ahead of the game by being versatile enough for your range of customers.
        </p>
        <p>
          The possibilities are endless when it comes to pricing on StoreApp - whether it is a
          special pricing, promo, wholesale or special customers’ price, we've got you covered.
        </p>
      </div>
      <div class="col-md-5 offset-md-1">
        <img src="~/images/devices/devices-6.png" class="d-block img-fluid">
      </div>
    </div>
  </section>
  <hr class="mt-5"/>
</div>

<div id="price-level" class="spacial-app-store mt-0" style="padding-top:130px;">
  <section class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Price Level - Flexible Bulk Pricing</h1>
        <p>
          This feature allows you to give incentive to customers based on the quantity of items
          they purchase. It is also an easy way to define your bulk/pack prices. A product can
          have as many price levels as you want; it only requires you to input the desired
          information on the quantity and the discounted price qualified for bulk/pack pricing
          and see the price drop automatically when sales hit the set quantity at the point of sales.
        </p>
      </div>
      <div class="col-lg-6">
        <img src="~/images/devices/macbook-price-level.png" class="" style="width: 100%;">
      </div>
    </div>
    <div class="mt-5">
      <span>Examples &amp; some use cases</span>
      <p>
        <strong>Store discounts / Promo - </strong>
        This feature can be used to store general discounts of select products that can be
        applied automatically when the set quantity/product is purchased.
      </p>
      <p>
        <strong>Pack / Bulk Pricing - </strong>
        Use with products that come in packs or allow bulk discount on selected items.
      </p>
    </div>
  </section>
  <hr class="mt-5"/>
</div>

<div id="profile" class="spacial-app-store mt-0" style="padding-top:130px;">
  <section class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Price Profile</h1>
        <p>
          Price profile allows you to define a different price for a product under a separate
          profile. You can create as many profiles as required. You can manage price profiles
          effortlessly by setting automated prices that is based on discount or mark up on cost
          price / selling price, and restrict this to a segment of your store - either a department,
          category, manufacturer, brand or a selection of products.
        </p>
      </div>
      <div class="col-lg-6">
        <img src="~/images/devices/macbook-price-profile.png" class="" style="width: 100%;">
      </div>
    </div>
    <div class="mt-5">
      <span>Examples &amp; some use cases</span>
      <p>
        <strong>Special Customer / VIP Promos - </strong>
        You can set special pricing for different customer groups, like, other retailers,
        company / organizations, VIP customers or members of your staff.
      </p>
      <p>
        <strong>Flexible Wholesale / Special Pricing</strong>
        You use price profile to define special / wholesale prices that are not based on
        quantity purchased. These prices are usually targeted towards selected customers.
      </p>
    </div>
  </section>
  <hr class="mt-5"/>
</div>

<div id="wholesale" class="spacial-app-store mt-0 mb-5" style="padding-top:130px;">
  <section class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Wholesale Pricing - Fixed Bulk Pricing</h1>
        <p>
          Wholesale defines a quantity of product packed as a single unit – think of it as
          an unbreakable carton / pack of items. Wholesale is similar to price level but
          differs in terms of flexibility; it defines the bulk price of an item and is only
          available on a separate sales interface.
        </p>
      </div>
      <div class="col-lg-6">
        <img src="~/images/devices/macbook-wholesale.png" class="" style="width: 100%;">
      </div>
    </div>
    <div class="mt-5">
      <span>Examples &amp; some use cases</span>
      <p>
        <strong>Quantity Based Wholesale - </strong>
        Since wholesale items are packed as a single unit, it is useful when you have an
        exclusive wholesale arm of your store that sells product at the set price and quantities.
      </p>
    </div>
  </section>
  <hr class="mt-5"/>
</div>

<div class="pricing-features mb-5">
  <div class="container">
    <h1 class="title">
      Let's compare these pricing models
    </h1>
    <div class="mt-5 pb-5">
      <table class="table table-bordered border-0  compare-table">
        <thead>
          <tr>
            <th class="border-0"></th>
            <th class="text-center border-bottom-0" style="width:15%;">Price Levels</th>
            <th class="text-center border-bottom-0" style="width:15%;">Price Profile</th>
            <th class="text-center border-bottom-0" style="width:15%;">Wholesale</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="font-weight:500;" scope="row">Unlimited definitions</th>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
          </tr>
          <tr>
            <th style="font-weight:500;" scope="row">Flexible</th>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
            <td class="text-center"> </td>
          </tr>
          <tr>
            <th style="font-weight:500;" scope="row">Quantity based pricing</th>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
            <td class="text-center"> </td>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
          </tr>
          <tr>
            <th style="font-weight:500;" scope="row">Restricted to quantity defined</th>
            <td class="text-center"> </td>
            <td class="text-center"> </td>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
          </tr>
          <tr>
            <th style="font-weight:500;" scope="row">Defines retails price</th>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
            <td class="text-center"> </td>
          </tr>
          <tr>
            <th style="font-weight:500;" scope="row">Defines bulk price</th>
            <td class="text-center"> </td>
            <td class="text-center"> </td>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
          </tr>
          <tr>
            <th style="font-weight:500;" scope="row">Can be automated</th>
            <td class="text-center"> </td>
            <td class="text-center"> <img src="~/images/checked.png" class="check" alt="checkmark"> </td>
            <td class="text-center"> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<partial name="_TryNowPartial" />

@section scripts {

<script type="text/javascript">
  $(function () {
    var $features = $(".index-features-nav .features");
    var position = $features.offset().top + 40;

    $(window).scroll(function () {
      var top = $(this).scrollTop();

      if (top > position && !$features.hasClass("fixed")) {
        $features.addClass("fixed fadeInDown");
      } else if (top < position && $features.hasClass("fixed")) {
        $features.removeClass("fixed fadeInDown");
        $features.find("li:eq(0) .nav-link").addClass("active")
      }
    });

    $('body').scrollspy({ 
      target: '.index-features-nav'
    });

    setTimeout(function () {
      $(".nav-link").removeClass("featureFadeInDown");
    }, 1500);
  });
</script>
    
}
