@{
    ViewBag.Features = "active";
    ViewData["Title"] = "Products Management";
}

<!-- <div class="canv">
  <span style="left: 10px;top: 10px;">DEPARTMENTS</span>
  <span style="right: 10px;top: 10px;">MANUFACTURERS</span>
  <span style="left: 10px;top: 120px;background-color: #0679af;">CATEGORIES</span>
  <span style="right: 10px;top: 120px;background-color: #0679af;">BRANDS</span>
  <span style="left: 125px;bottom: 10px;background-color: #0699de;">PRODUCTS</span>
</div> -->

<div class="index-features-header">
  <section>
    <h1 class="stripey">
      Organize your Products and Services the easy way
    </h1>
    <p class="stripey">
      StoreApp gives you detailed overview of your store to maximize profit
    </p>
    <div class="cta">
      <a href="~/sign-up" class="btn-shadow btn-shadow-primary">
        Sign Up For Free
      </a>
    </div>
  </section>
</div>

<div class="index-app-devices mt-5 pt-5 mb-5">
  <div class="container">
    <img src="~/images/devices/macbook-products.png" class="img-fluid d-block mx-auto">
    <hr class="mt-5"/>
  </div>
</div>

<div class="spacial-app-store mt-5">
  <section class="container">
    <div class="row">
      <div class="col-lg-7 pt-lg-5">
        <span>Introducing the best structure</span>
        <h1>
          Achieve more with a structured system.
        </h1>
        <p>
          With StoreApp products structure it's easy to track sales on any level - Department,
          Category, Manufacturer &amp; Brand names. There are two sides to this structuring, with
          department and category on one side, and the manufacturer and brand details on the other.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="~/images/devices/product-diagram.png" style="width: 100%;">
      </div>
    </div>
  </section>
</div>

<div class="support-contact mt-0 mb-5">
  <div class="container">
    <h3>A two-sided product structure</h3>
    <div class="row">
      <div class="col-md-6">
        <img src="~/images/misc/storeapp-left-arrow.png" class="devices">
        <h4>
          Department &amp; Category
        </h4>
        <p>
          Department allows you to separate logical parts of your business into different store e.g.
          Grocery store, Cosmetics store, Pharmaceutical store etc within your main store.
        </p>
        <p>
          Each departments has its category which provides further categorization of your products
        </p>
      </div>
      <div class="col-md-6">
        <img src="~/images/misc/storeapp-right-arrow.png" class="devices">
        <h4>
          Manufacturer &amp; Brand Details
        </h4>
        <p>
          On the other hand, Manufacturer details and Brand names also creates another means of
          categorization.
        </p>
        <p>
          Most products are related brand names but differs in variants, example of a brand is Coke,
          coke comes in different variants - bottle, pet bottle, can etc, all these are grouped under
          the brand name Coke.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="spacial-cta-download">
  <h2>
    Why is product structure necessary?
  </h2>
  <p>
    It is important to group your products into smaller segments by which sales can be tracked.
    One major benefit of this is the ability to focus on the areas of your business that make you
    the most profit and also make informed decision about the ones that don't make you so much.
  </p>
</div>

<div class="index-intro-header pt-5">
  <section class="container">
    <div class="row text-center">
      <div class="col-12 fadeInScaleDown">
        <h1>
          Going Beyond Structure
        </h1>
        <p>
          StoreApp is packed with other product related features with extends it functionality
          and also gives you a means of having absolute control of your inventory, put you in
          control of pricing with effective price management, manage services, define watchlist
          and taxable items, extend product structure with location management amongst other
          features.
        </p>
      </div>
    </div>
  </section>
</div>

<div class="index-intro-features mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="ion-ios-infinite-outline mb-3"></i>
        <h5>
          Barcodes and labels
        </h5>
        <p>
          Barcodes makes it easy to find products at the point of sale. Import existing item
          barcodes or create your own barcode system for products that do not have barcode.
        </p>
      </div>
      <div class="col-md-4">
        <i class="icon-tools-2 mb-4"></i>
        <h5 class="mt-3">
          Location Based Products
        </h5>
        <p>
          Get more organized, create locations for different products in your stores - shelves,
          rooms etc. Make stock counting a breezing by focusing on one location per time.
        </p>
      </div>
      <div class="col-md-4">
        <i class="ion-ios-book-outline mb-2"></i>
        <h5>
          Services Products
        </h5>
        <p>
          Services are not products, they are defined separately and do not have an inventory like
          products items. Capture the sales of service with our integrated service sales module.
        </p>
      </div>
      <div class="col-md-4">
        <i class="ion-code-working mb-3"></i>
        <h5>
          Default Price Margin
        </h5>
        <p>
         Keep your default margin in view as you define the prices of products and service in your
         store. You can set default margins both at the department and category level.
        </p>
      </div>
      <div class="col-md-4">
        <i class="ion-monitor mb-3"></i>
        <h5>
          Price Change module
        </h5>
        <p>
          Makes it easy to change all prices for a selected product in one view. Leave no stone unturned
          as you attempt to change the price of a product in your store.
        </p>
      </div>
      <div class="col-md-4">
        <i class="ion-ios-settings mb-3"></i>
        <h5>
          Define Taxable Products
        </h5>
        <p>
          Separate taxable products from non-taxable ones, track your sales taxes and have them deposited in an integrated payable tax account so you can track how you remit tax.
        </p>
      </div>
    </div>
  </div>
</div>

<partial name="_TryNowPartial" />

@section styles {
  <style>
    .canv {
      margin: 150px auto;
      height: 300px;
      font-size: 13px;
      font-weight: 500;
      position: relative;
      width: 400px;
    }
    .canv span {
      width: 150px;
      display: inline-block;
      text-align: center;
      padding: 20px 12px;
      position: absolute;
      background-color: #00557d;
      color: white;
      border: none;
      border-radius: 2px;
    }
  </style>
}