@{
    ViewBag.Features = "active";
    ViewData["Title"] = "Features - Staff Management";
}

<div class="index-features-header">
  <section>
    <h1 class="stripey">
      Productivity is key, for business survival
    </h1>
    <p class="stripey">
      Therefore we believe that you should be interested in how our system increase staff efficiency
    </p>
    <div class="cta">
      <a href="~/sign-up" class="btn-shadow btn-shadow-primary">
        Try For Free
      </a>
    </div>
  </section>
</div>

<div class="agency-intro">
  <div class="container">
    <h3>
      A paperless record system
    </h3>
    <hr>
    <p>
      Storing employee records and managing their data removes the need for paper forms,
      files and filing cabinets. All information and records are right at you finger-tip.
      There is no chance of losing data. StoreApp allows you to keep personal details as
      well as referee / guarantor details.
    </p>
  </div>
</div>

<div class="index-app-devices mb-5" style="margin-top: 100px;">
  <div class="container">
    <img src="~/images/devices/moc.png" class="img-fluid d-block mx-auto">

    <hr class="mt-5"/>
  </div>
</div>

<div class="spacial-app-store mt-5">
  <section class="container">
    <div class="row">
      <div class="col-lg-7">
        <span>Integrated Perfomance Grading System</span>
        <h1>
          Increase productivity with an<br/>activity tracking system
        </h1>
        <p>
          StoreApp has an integrated activity tracker the makes it possible to do Performance reviews,
          You keep track of these activities - sales, products dispensed, presales, general staff logs etc.
          All these make it possible grade your staff and measure their level of productivity to your business.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="~/images/devices/devices-4.png" class="" style="width: 100%;">
      </div>
    </div>
  </section>
</div>

<div class="index-features">
  <div class="container">
    <header>
      <h3>User Management with Roles</h3>
      <p>
        User management enables you admins to control user access to the many features of StoreApp.
        It defines the authentication process that prevents unwanted use of the system. Role management
        helps you manage authorization, which enables you to specify the resources that users in your
        business are allowed to access.
      </p>
    </header>
    <section class="features">
      <div class="row">
        <div class="col-md-6 feature">
          <img src="~/images/icons/features-icon-ok.png" class="icon" />
          <section>
            <h4>
              Security
            </h4>
            <p>
              Your data is safe and protected against unauthorized access as you determine which
              member of your staff have access to any feature at any given time.
            </p>
          </section>
        </div>
        <div class="col-md-6 feature">
          <img src="~/images/icons/features-icon-canvas.png" class="icon" />
          <section>
            <h4>
              Control
            </h4>
            <p>
              You are in control of you store. You have the power to know it all, see it all and
              guard the sensitive parts of your business.
            </p>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>

 <div class="spacial-cta-download mt-0">
  <h2>
    Cash Monitoring / Control
  </h2>
  <p style="width:65%;">
    Cash is the most important liquid asset of your business, a business cannot prosper and
    survive without proper control over cash. An important part of your daily business
    activity is proper cash management - monitoring and recording cash flow and analyzing
    cashier balance at all times.
  </p>
  <p>
    StoreApp is equiped with an integrated cash monitoring system that makes it possible to
    analyse cashier balance while also keeping tabs on your daily expenses that involve these
    cash.
  </p>
</div>

<partial name="_TryNowPartial" />