@{
    ViewBag.Contact = "active";
    ViewData["Title"] = "Contact";
}

  <div class="agency-alt-hero">
    <div class="container">
      <h3 class="customFadeInUp">
        Contact us.
      </h3>
    </div>
  </div>

  <div class="agency-alt-contact-info">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 style="color: #518dc3;">
            <i class="ion-ios-email-outline"></i>
            Email
          </h4>
          <p>
            storeapp@clearwox.com
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #4fc4c5;">
            <i class="ion-ios-telephone-outline"></i>
            Phone
          </h4>
          <p>
            234 (817) 867 3277
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #a34dd6;">
            <i class="ion-social-twitter-outline"></i>
            Twitter support
          </h4>
          <p>
            @@storeapp
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="agency-contact-intro">
    <div class="container">
      <p>
        For all inquiries including new business, employment opportunities or to hear more about our services, please get in touch. We'd love to help you with your new awesome project.
      </p>
    </div>
  </div> -->

  <!-- <div class="agency-contact-form mb-5">
    <div class="container">
      <form>
        <input type="text" placeholder="Your name" />
        <input type="email" placeholder="Email address" />
        <input type="text" placeholder="Phone number" />
        <textarea placeholder="Message" rows="6"></textarea>
        <input type="submit" value="Send message" />
      </form>
    </div>
  </div> -->
