@{
    ViewBag.Contact = "active";
    ViewData["Title"] = "Thank you for signing up";
}

<div class="pricing-charts-header">
  <section class="container">
    <h3 class="customFadeInUp">
      Thank you'
    </h3>
    <p class="customFadeInUp">
      We are confident that StoreApp is packed with features that will blow you away.
    </p>
  </section>
</div>

<div class="agency-start-project-intro" style="margin-top: 125px;">
  <div class="container">
    <h3>
      Thank you for signing up
    </h3>
    <p>
        We want to thank you specially for signing up, a member of our team will contact
        you shortly on getting you started. We believe this will a profittable business
        desicion for you.
    </p>
  </div>
</div>

<div class="agency-start-city-bg">
</div>